.v-field__input {
  border-radius: 0.3125rem !important;
  background-color: #1F2435 !important;
}

.v-field__overlay {
  background-color: #1F2435 !important;
  opacity: 1 !important;
  border-radius: 0.3125rem !important;
  // transition: none !important;
}

.v-theme-provider {
  padding: 0 !important;
}

.v-theme--dark {
  --v-theme-surface: 40, 47, 65 !important;
  // --v-theme-primary: 255, 255, 255 !important;
  --v-theme-surface-variant: 116, 92, 212 !important;
  --v-theme-on-surface-variant: 255, 255, 255 !important;
}
.v-tooltip > .v-overlay__content {
  background-color: #232939 !important;
}
// $tooltip-background-color{
//  rgb(var(--v-theme-surface-variant))
// }
.Vue-Toastification__toast--success {
  background-color: #282f41;
  border: 1px solid #2F305B;
  color: #9e9e9e;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  .Vue-Toastification__icon {
    color: #4caf50;
  }
}
.Vue-Toastification__toast--error {
  background-color: #282f41;
  border: 1px solid #2F305B;
  color: #9e9e9e;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  .Vue-Toastification__icon {
    color: #ff5252;
  }
}
.Vue-Toastification__toast--info {
  background-color: #282f41;
  border: 1px solid #2F305B;
  color: #9e9e9e;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  .Vue-Toastification__icon {
    color: #fff;
  }
}

.v-switch__track {
  background-color: #9e9e9e;
}
.v-selection-control--inline {
  margin-right: 1.5rem;
}
.flex-ai,
.flex-jc {
  .v-btn--block {
    flex: none;
    min-width: auto;
  }
}
// .v-card {
//   background-color: #151925 !important;
// }
.v-form {
  width: 100%;
}
.text-deep-purple-accent-4 {
  color: #b3b5f2 !important;
}
.v-toolbar {
  z-index: 9 !important;
}
.v-btn--disabled {
  pointer-events: auto;
  cursor: no-drop;
}
